<mat-spinner *ngIf="isLoading"></mat-spinner>
<div>
  <div class="card inlineElement" style="width: 18rem;" *ngFor="let pro of listItem" >
    <img class="card-img-top" [src]="pro.imageOne" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{pro.name}}</h5>
      <p class="card-text">{{pro.price}}</p>
      <button class="btn btn-primary">Add to Cart</button>
      <button class="btn btn-primary">Add to wishlist</button>
    </div>
  </div>
  <mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" 
        [pageSizeOptions]="postsSizeOptions" (page)="OnChangePage($event)"
        ></mat-paginator>  
</div>
 
