<div *ngIf="!isLoading ">
    <mat-card *ngFor="let item of cartItemList" >
        <div fxFlex="40">
            <img [src]="item.itemInfo[0].imageOne" [alt]="item.itemInfo[0].name">
        </div>
        <div fxFlex>
            <h3>{{item.itemInfo[0].name}}</h3>
            <p>{{item.itemInfo[0].price}}</p>
        </div>
        <div fxFlex>
            <button  (click)="item.isChecked = !item.isChecked" *ngIf="!item.isChecked" mat-raised-button color="warn">
                <mat-icon>add</mat-icon>
            </button>
            <button  (click)="item.isChecked = !item.isChecked" *ngIf="item.isChecked" mat-raised-button color="warn">
                <mat-icon>remove</mat-icon>
            </button>
            <button mat-raised-button color="warn"><mat-icon>delete</mat-icon></button>
        </div>
    </mat-card>
    <mat-card>
        <button mat-raised-button (click)="checkoutClicked()">Check out</button>
    </mat-card>
</div>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<h6 *ngIf="isEmpty && !isLoading">no items found in your cart</h6>