<mat-card>
    <form [formGroup]="signinform" (ngSubmit)="signin()" >
        <div>
            <span fxFlex></span>
              <h2>Sign Up</h2>
            <span fxFlex></span>
          </div>
        <label for="email">Enter the e-mail</label>
        <input type="email" placeholder="e-mail"  class="form-control" formControlName="email"> 
        <label for="password">Enter the password</label>
        <input type="text" placeholder="password"  class="form-control" formControlName="password">
        <div>
          <span fxFlex></span>
          <button type="submit" mat-raised-button color="primary" >Sign Up</button>
          <span fxFlex></span>
        </div>
      </form>
  </mat-card>